<section>
    <h2>Welcome!</h2>
    <p>Currently, only these pages have CRUD operations working:
    <ul>
        <li><a href="/orders">Orders</a></li>
    </ul>

    <h3>Known Issues</h3>
    <ul>
        <li>"Edit" and "Delete" buttons not working properly in newly added orders.</li>
    </ul>
</section>