<section>
    <h2>Welcome!</h2>
    <p>Currently, only these pages have CRUD operations working:
    <ul>
        <li><a href="/orders">Orders</a></li>
    </ul>

    <h3>Known Issues</h3>
    <ul>
        <li>"Update Orders" button is not disabled before you click "Edit".</li>
        <li>"Customer ID" field is not pre-filled before you click "Edit".</li>
        <li>"Delete" button does not ask for confirmation to delete.</li>
        <li>No validation that Order Date &lt;= Ship Date &lt;= Delivered Date.</li>
    </ul>
</section>