<section>
    <h2>Welcome!</h2>
    <p>Currently, only these pages have CRUD operations working:
    <ul>
        <li><a href="/orders">Orders</a></li>
    </ul>

    <h3>Bugs and Enhancements</h3>
    <ul>
        <li>Bug: Some INSERTs do not update correctly until you refresh.</li>
        <li>Bug: "Ship Date" and "Delivered Date" should be optional fields.</li>
        <li>Enhancement: Add a dialog to notify when an order is updated.</li>
        <li>Enhancement: Add error-checking for UNIQUE constraints.</li>
        <li>Enhancement: Order table rows by primary key ID.</li>
    </ul>
</section>