<section>
    <h2>Welcome!</h2>
    <p><i>Movie Mementos</i> is a website that sells movie memorabilia from Hollywood movies from the last 100 years. The site will have more than 5,000 memorabilia items for sale, from autographed posters and scripts to authentic props and costumes used in the movies, along with new items. Annual revenues are expected to exceed $1 million in its first year. The backend database for this website records Orders from Customers for various Memorabilia. Customers can look up available memorabilia items for specific Movies or for the Actors of those movies. Shipping will be US-only at first.</p>

    <h3>Completed Pages</h3>
    <ul>
        <li><p><a href="/orders">Orders</a> &mdash; Browse, add, update, or delete memorabilia orders.</p></li>
        <li><p><a href="/memorabilia">Memorabilia</a> &mdash; Browse, add, update, or delete memorabilia.</p></li>
        <li><p><a href="/movieitems">Movie Items</a> &mdash; Browse, add, update, or delete associations between memorabilia and the movies they're used in.</p></li> 
        <li><p><a href="/movies">Movies</a> &mdash; Browse, add, update, or delete movies that contain memorabilia.</p></li>
    </ul>
    <h3>Pages Not Ready</h3>
    <ul>
        <li><p><a href="/customers">Customers</a> &mdash; Browse, add, update, or delete customers who purchased memorabilia.</p></li>
        <li><p><a href="/actors">Actors</a> &mdash; Browse, add, update, or delete actors who appeared in movies containing memorabilia.</p></li>
        <li><p><a href="/actorroles">Actor Roles</a> &mdash; Browse, add, update, or delete associations between actors and the movies they were in.</p></li> 
    </ul>
    </ul>
</section>