<section>
    <h2>Welcome!</h2>
    <p>Currently, only these pages have CRUD operations working:
    <ul>
        <li><a href="/orders">Orders</a></li>
    </ul>

    <h3>Open Bugs and Enhancement Requests</h3>
    <ul>
        <li>None</li>
    </ul>
    <h3>Fixed Since Step 4 Draft Submission</h3>
    <ul>
        <li>Bug Fix: Removed UNQIUE constraint on order_date + customer_id, which was causing unexpected INSERT failures.</li>
        <li>Bug Fix: Some INSERTs do not update correctly until you refresh. This was because the table was not sorted by order_id. "Add Order" expected the new order to be the last row in the table, but it wasn't.</li>
        <li>Enhancement: Added a dialog to notify when an order is updated.</li>
        <li>Bug Fix: Made "Ship Date" and "Delivered Date" optional fields.</li>
    </ul>
</section>