body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: ivory;
    margin: 0 auto;
    width: 98%;
}

header {
    height: 100px;
    background-color:rgb(135, 65, 4);
    color: white;
    padding: 1%;
}

h1 > a {
    text-decoration: none;
    color: white;
}

nav > a {
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 10px;
    background-color: lightblue;    
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: blue;
    color: white;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    font-size: 24px;
    background-color:rgb(135, 65, 4);
    color: white;
}

tr {
    background-color:rgb(250, 208, 169);
}

section {
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
}

fieldset {
    display: flex;
    border: none;
}

label {
    margin: 0 20px 10px 0;
    font-weight: bold;
    display:block;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

input, textarea, select {
    padding: 5px 10px;
    border-radius: 10px;
}

textarea {
    min-width: 100px;
    min-height: 100px;
}

input:hover, textarea:hover, select:hover {
    background-color: azure;
}

input:disabled, textarea:disabled, select:disabled {
    background-color: white;
}

button {
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: lightblue;
  }

  button:hover:not(:disabled) {
    background-color: blue;
    color: white;
  }